<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Category</title>
    </head>
    <body>
    </body>
</html>
    <h2>Add Category</h2>
    <form method='post'>
        <div style='display:grid;grid-template-columns:200px 400px;'>
            <label style='font-size: 14px;font-weight: bold;color: #333;display: block;float: left;line-height: 1;width: 100%;padding: 0 0 10px;'>Category title:</label>
            <input type="text" name="Category_title" maxlength="64" style='font-weight: normal;width: 20em;border: 1px solid #ccc;border-radius: 4px;vertical-align: middle;box-sizing: border-box;padding: 6px 8px;min-height: 36px;font-size: 14px;flex: 1 1 auto;max-width: 100%;' required>
        </div>
        <br/>
        <input type='submit' style='margin-left:420px;' value='submit'>
    </form>